{{ define "main" }}
  {{ .Content }}

  <section>
    <hr>

    <h3>
      <a href="/journal">Journal</a>
    </h3>

    <ul>
      {{ range (where .Site.RegularPages "Type" "in" "journal") }}
        <li>
          <p>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            {{ .Date | time.Format "(2006-01-02)" }}
          </p>

          {{ $sup := "<sup.*?>.*?</sup>" }}
          {{ replaceRE $sup "" .Summary | safeHTML }}
        </li>
      {{ end }}
    </ul>
  </section>

  {{- partial "pinboard.html" . -}}
{{ end }}
