<footer>
  <hr>

  <div>
    <a href="https://dispatch.davideisinger.com/subscription/form">Subscribe via email</a> 
    <span class="mobile-hidden">•</span>
    <a href="/index.xml">Feed</a>
    <span class="mobile-hidden">•</span>
    <a href="/about/#contact">Contact</a>
  </div>

  <div class="mobile-hidden">
    Rendered {{ now | dateFormat "2006-01-02 15:04:05 MST" }}
    {{ with site.Params.git.last_commit }}
      • <a href="https://git.sr.ht/~dce/davideisinger.com/commit/{{ .hash }}">{{ substr .hash 0 7}}</a>
    {{ end }}
  </div>

  <span class="mobile-hidden">Copyright</span> &copy; {{ now.Format "2006" }} David Eisinger
</footer>
