body {
  font-family: monospace;
  font-size: 18px;
  padding: 50px;
  line-height: 1.5em;
  background-color: #f6f6f6;
  color: #333;
}

h1, h2, h3 {
  font-size: 1em;
  margin: 1em 0;
}

h3 {
  color: #aaa;
}

a {
  color: #00a;
}

hr {
  border: 0;
  border-top: 2px solid #ddd;
}

ul {
  list-style-type: '∗';
  margin-left: 1ch;
  padding: 0;

  li {
    padding-left: 1ch;
  }
}

header, #content, footer {
  max-width: 800px;
}

footer {
  text-align: center;

  hr {
    margin-bottom: 12px;
  }
}

.nowrap {
  white-space: nowrap;
}
