{{ define "main" }}
  <section>
    <hr>

    <h2>{{ .Title }}</h2>

    {{ .Content }}

    {{ range where .Site.RegularPages "Params.exclude_music" "!=" true }}
      {{ $page := . }}

      {{ range sort (.Resources.Match "*.mp3") "Title" "desc" }}
        <hr>

        <p>
          <audio controls src="{{ .RelPermalink }}"></audio><br>
          “{{ substr .Title 0 -4 }}” – <a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a>
        </p>
      {{ end }}
    {{ end }}
  </section>
{{ end }}
