{{ define "main" }}
  <section>
    <hr>

    <h2>Elsewhere</h2>

    {{ .Content }}

    <ul>
      {{ range (where .Site.RegularPages "Type" "in" "elsewhere") }}
        {{ $url := urls.Parse .Params.canonical_url }}
        {{ $host := strings.Replace $url.Hostname "www." "" }}

        <li>
          {{ if .Params.featured }}
            <b><a href="{{ .Permalink }}">{{ .Title }}</a></b>
          {{ else }}
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          {{ end }}

          <span class="nowrap">
            (<a href="{{ $url }}">{{ $host }}</a>, {{ .Date | time.Format "2006-01-02" }})
          </span>
        </li>
      {{ end }}
    </ul>
  </section>
{{ end }}
